/* CSS for the landing page */

.viking {
  width: 500px;
  height: 500px;
  margin-top: 50px;
  padding-top: 80px;
  }

#myButton {
  display: block;
  margin: 0 auto;

}

.center {
    display: block;
    margin: 0 auto;

}

h3 {
    text-align: center;
    padding: 30px;
}

